body
{
margin:0;
background:#DA6209;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}
ul {margin:0; padding:0; }
h1 {margin:10px 0 10px 0; padding:0; font-size:18px; font-weight:normal; color:#212121;}
h2 {margin:5px 0 5px 0; padding:0; font-size:18px; font-weight:normal; color:#fee035;}
h3 {margin:0 0 10px 0; padding:0; font-size:14px; font-weight:normal; color:#fee035;}
p {margin:0; padding:0; color:#fff; float:left; text-align:left; line-height:17px;}
p strong {color:#fee035;}
a {color:#FFFFFF; text-decoration:underline;}
a:hover { color:#fff; text-decoration:none;}
#frame{margin:0 auto;width:960px;height:auto; background:url(../images/ct_bg.png) repeat-y;}
#blank_10{width:100%;height:10px;float:left;}
#logo { background:url(../images/logo.png) no-repeat; width:202px; height:118px; float:left; margin:20px 0 0 20px; }
#menu{float:right; background: #DA6209;float: left;height:40px; margin-left:10px; width: 940px; display:inline;}
#menu ul { float:left; list-style: none outside none; margin-left:424px;}
#menu ul li {  float:left; color: #b5a357;}
#menu ul li a { color: #fff; text-decoration: none;height:100%;padding: 14px 20px 11px 8px;font-size:14px;float:left;}
#content { float:left; width:940px; height:auto; margin-left:10px; } 
#footer { width:937px; height:35px; float:left; margin:3px 0 10px 10px; padding:25px 0 0 0; }
#ftr_bx{ width:auto; height:auto; float:left;}
#ftr_bx p{text-align:left; float:right; padding-right:26px; letter-spacing:1.1px;}
#ftr_bx p img{float:left; margin:0px 2px 0 0; }
#site { float:right; margin-right:10px; }

input.one { background:#CCCCCC; border:0px none; }
textarea.one { background:#CCCCCC; border:0px none; }

#site p span a{ color:#fff; text-decoration:underline;}
#site p span a:hover{ color:#cc0000; text-decoration:none;}
#main_content {width:940px; min-height: 550px; margin:0; padding:0;}
#content p{ margin:20px 0 0 10px; font-size:14px; height:20px;}
#content p a {margin-left:10px; text-decoration:none;}
#content p a:hover {color:#B2A454;}


.btn {
    background-color: #666666;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 11px;
    height: 22px;
    margin-right: 10px;
    padding: 0 0 3px;
    width: auto;
}


.lbe_list_3 {
    letter-spacing: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    padding: 0;
}

.lbe_list_3 li {
    display: block;
    float: left;
    margin: 0 0 1px;
    padding: 2px 0 5px 0px;
    text-align: left;
    width: 98%;
}


.lbe_list_3 li a {
    color: #000;
    display: block;
    float: left;
    width: 98%;
	text-decoration:none;
}

.lbe_list_3 li a:hover {
    color: #DA6209;
    display: block;
    float: left;
    width: 98%;
	text-decoration:underline;
}

#right
{width:700px;
height:auto;
float:left;
}

#left
{width:170px;
height:auto;
float:left;
}
#pageName{
	padding: 5px;
	font-size:13px;
	font-weight:bold;
	text-transform:uppercase;
	color:#666666;
	width:95%;
	margin:2px 4px;
}